<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Fantel School</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootsrap/4.5.2/css/bootsrap.min.js">
<style>
    body{
        padding-top: 50px;
    }
</style>