<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1 class="text-center">SECTION A: APPLICANT'S INFORMATION</h1>
        <form name="applicationForm" class="text-center">
            <div>
                <label>Full Name</label><br>
                <input type="text" id="fullname" placeholder="full name here" />
            </div>
            <div>
                <label>Email</label><br>
                <input type="email" id="email" placeholder="email" />
            </div>
            <div>
                <label>Address</label><br>
                <input type="text" id="address" placeholder="address" />
            </div>
            <div>
                <label>Phone</label><br>
                <input type="text" id="phone" placeholder="phone" />
            </div>
            <div>
                <label>Course</label><br>
                <input type="text" id="course" placeholder="course" />
            </div>
            <div>
                <label>Application No.</label><br>
                <input type="text" id="applicationNo" placeholder="application number" />
            </div>

            <div>
                <label>Payment Ref</label><br>
                <input type="text" id="paymentRef" placeholder="Payment ref" />
            </div>

            <div>
                <span class="bg-success text-white" id="success"></span><br>
                <input class="btn btn-sm" type="button" id="submit" onclick="submitApplication(event)" value="SUBMIT" />
            </div>

        </form>


    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>

        function sendMail(data) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", "/sendmail", false);
            xmlHttp.setRequestHeader('Content-Type', 'application/json');
            xmlHttp.send(JSON.stringify(data));
        }

        function submitApplication(event) {
            event.preventDefault();
            var fullName = document.getElementById("fullname").value;
            var email = document.getElementById("email").value;
            var address = document.getElementById("address").value;
            var phone = document.getElementById("phone").value;
            var course = document.getElementById("course").value;
            var applicationNo = document.getElementById("applicationNo").value;
            var paymentRef = document.getElementById("paymentRef").value;

            var applicationObj = {
                fullname: fullName,
                email: email,
                address: address,
                phone: phone,
                course: course,
                applicationNo: applicationNo,
                paymentRef: paymentRef
            }

            function updateStatus(result) {
                console.log(result);
                if (result.affectedRows == 1 && result.warningCount == 0) {
                    // sendMail(applicationObj);
                    document.getElementById("success").innerText="Success";
                    
                }
            }

            console.log(JSON.stringify(applicationObj));
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", "/applicants", false);
            xmlHttp.setRequestHeader('Content-Type', 'application/json');
            xmlHttp.onreadystatechange=()=>{
                if (xmlHttp.readyState===4 ) {
                    updateStatus(JSON.parse(xmlHttp.response));
                }
            };
            xmlHttp.send(JSON.stringify(applicationObj));
        }
    </script>
</body>

</html>