<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1 class="text-center">SECTION A: APPLICANT'S INFORMATION</h1>
        <form name="applicationForm" class="text-center">
            <div >
                <input type="text" id="fullname" placeholder="full name here" />
            </div>
            <div>
                <input type="email" id="email" placeholder="email" />
            </div>
            <div>
                <input type="text" id="address" placeholder="address" />

            </div>
            <div>
                <input type="text" id="phone" placeholder="phone" />
            </div>
            <div>
                <input type="text" id="course" placeholder="address" />
            </div>
            <div>
                <input type="text" id="applicationNo" placeholder="applicationN number" />
            </div>

            <div>
                <input type="text" id="paymentRef" placeholder="Payment ref" />
            </div>

            <div>
                <span class="bg-success text-white" id="success"></span>
                <input class="btn btn-sm" type="button" id="submit" onclick="submitApplication(event)" value="SUBMIT" />
            </div>

        </form>


    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>

        function submitApplication(event) {
            event.preventDefault();
            var fullName = document.getElementById("fullname").value;
            var email = document.getElementById("email").value;
            var address = document.getElementById("address").value;
            var phone = document.getElementById("phone").value;
            var course = document.getElementById("course").value;
            var applicationNo = document.getElementById("applicationNo").value;
            var paymentRef = document.getElementById("paymentRef").value;

            var applicationObj = {
                fullname: fullName,
                email: email,
                address: address,
                phone: phone,
                course: course,
                applicationNo: applicationNo,
                paymentRef: paymentRef
            }
            console.log(applicationObj);

            fetch("https://fantelschool.ng/applications", { method: "post", mode: "cors", body: JSON.stringify(applicationObj) }).then((res) => {
                const result = SON.parse(res.json());
                if (result.affectedRows === 1 && warningCount == 0) {
                    document.getElementById("success").innerText="Success"
                    fetch("/sendmail",{mode:"cors",method:"post",body:JSON.stringify})
                    console.log(res.json());
                }
            }).catch((err) => {
                console.log(err)
            });
        }
    </script>
</body>

</html>