<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1 class="text-center">CONTACT: SEND MESSAGE</h1>
        <form name="messageForm" class="text-center">
            <div>
                <input type="text" id="name" placeholder="name" />
            </div>
            <div>
                <input type="email" id="email" placeholder="email" />
            </div>
            <div>
                <input type="text" id="subject" placeholder="subject" />
            </div>
            <div>
                <textarea id="message" cols="22" rows="5" placeholder="message"></textarea>
            </div>

            <div>
                <span class="bg-success text-white" id="success"></span>
                <input type="button" onclick="sendMessage(event)" id="submit" value="SEND" />
            </div>
        </form>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>

        function sendMessage(evt) {

            evt.preventDefault();
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var subject = document.getElementById("subject").value;
            var message = document.getElementById("message").value;

            var msgObj = {
                name: name,
                email: email,
                subject: subject,
                message: message
            }

            console.log(msgObj);

            fetch("https://fantelschool.ng/messages", { method: "post", mode: "cors", body: JSON.stringify(msgObj) }).then((res) => {
                const result =JSON.parse(res.json());
                if (result.affectedRows === 1 && warningCount === 0) {
                    document.getElementById("success").innerText="Success"
                    fetch("/sendmail",{mode:"cors",method:"post",body:JSON.stringify})
                    console.log(res.json());
                }
                console.log(res.json());
            }).catch((err) => {
                console.log(err)
            });
        }
    </script>
</body>

</html>