<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h1 class="text-center">CONTACT: SEND MESSAGE</h1>
        <form name="messageForm" class="text-center">
            <div>
                <input type="text" id="name" placeholder="name" />
            </div>
            <div>
                <input type="email" id="email" placeholder="email" />
            </div>
            <div>
                <input type="text" id="subject" placeholder="subject" />
            </div>
            <div>
                <textarea id="message" cols="22" rows="5" placeholder="message"></textarea>
            </div>

            <div>
                <span class="bg-success text-white" id="successM"></span><br>
                <input type="button" onclick="sendMessage(event)" id="submit" value="SEND" />
            </div>
        </form>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>

        function sendMail(data) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", "/sendmail", false);
            xmlHttp.setRequestHeader('Content-Type', 'application/json');
            xmlHttp.send(JSON.stringify(data));
        }

        function sendMessage(evt) {

            evt.preventDefault();
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var subject = document.getElementById("subject").value;
            var message = document.getElementById("message").value;

            var msgObj = {
                name: name,
                email: email,
                subject: subject,
                message: message
            }

            function updateStatus(result) {
                console.log(result);
                if (result.affectedRows == 1 && result.warningCount == 0) {
                    // sendMail(applicationObj);
                    document.getElementById("successM").innerText = "Success";
                }
            }

            console.log(JSON.stringify(msgObj));
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("POST", "/messages", false);
            xmlHttp.setRequestHeader('Content-Type', 'application/json');
            xmlHttp.onreadystatechange = () => {
                if (xmlHttp.readyState === 4) {
                    updateStatus(JSON.parse(xmlHttp.response));
                }
            };
            xmlHttp.send(JSON.stringify(msgObj));
        }
    </script>
</body>

</html>